/* ==UserStyle==
@name           StreetTwo
@namespace      https://github.com/fiteuwu
@version        1.3
@description	Improvements to the new Google Maps Streetview UI
@author			@fite.orbithub.xyz (bsky)
@author			@fiteuwu (twitter)
@homepageURL	https://github.com/fiteuwu/StreetTwo
@supportURL		https://github.com/fiteuwu/StreetTwo/issues
@updateURL		https://raw.githubusercontent.com/fiteuwu/StreetTwo/main/style.user.css
@preprocessor   stylus
@var checkbox   showTopFade		"Show Top Fade"		0
@var checkbox   showFooterInfo	"Show Footer Info"	0
@var checkbox   showSearchBar	"Show Search Bar"	1
@var checkbox	changeSearch	"Change Search Bar Corners" 0
@var text		borderRad		"Border Radius"		8px
@var color		bgColor			"Background Color (Dark Elements Only)"	rgb(30, 30, 30)
==/UserStyle== */

@-moz-document url-prefix("https://www.google.com/maps/")
	
	/*move title card box to cover & make it be under the X button*/
	div[role='navigation']
		right: 16px !important

		position: fixed
		z-index: 0 !important

	/*remove the giant blank space on title card & make the background match other UI elements on maps*/
	.gzhbId
		padding-left: 20px !important

		border-radius: borderRad !important
		background-color: bgColor
	
	/*make background solid & set border radius*/
	.app-imagery-mode .C5SiJf
		box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 10px 2px
		opacity: 1
		border-radius: borderRad !important

	/*slightly move close button*/
	button[aria-label='Close']
		right: 30px !important
		top: 26px !important

	/*move spotlight & settings buttons to the bottom*/
	button[jsaction="titlecard.spotlight"]
		top: 75%
		right: 9%

	button[jsaction="titlecard.settings"]
		top: 73.5%
		right: 4%
	
		
	/*add stuff to the following: 
	#searchbox									-- search box
	.app-imagery-mode .F63Kk					-- map box
	.app-imagery-mode .xsYFzc					-- zoom box main background (both buttons)
	.jLAg5b										-- zoom box shadow box
	.app-imagery-mode .xsYFzc.widget-zoom-in	-- zoom box zoom in
	.app-imagery-mode .xsYFzc.widget-zoom-out	-- zoom box zoom out
	.app-imagery-mode .uSzaJe					-- 3d button (in main sattilite view)
	.app-imagery-mode .Zf54rc					-- show location button (in main sattilite view)
	.app-imagery-mode .WzvKIe					-- horizontal box
	*/
	
	/*standardize color*/
	.app-imagery-mode .xsYFzc,
	.app-imagery-mode .uSzaJe,
	.app-imagery-mode .Zf54rc,
	.app-imagery-mode .WzvKIe
		background-color: bgColor !important
	
	/*standardize shadow*/
	#searchbox
	.app-imagery-mode .F63Kk,
	.jLAg5b,
	.app-imagery-mode .uSzaJe,
	.app-imagery-mode .Zf54rc,
	.app-imagery-mode .WzvKIe
		box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 10px 2px
		
	/*standardize corners*/
	.app-imagery-mode .F63Kk,
	.jLAg5b,
	.app-imagery-mode .uSzaJe,
	.app-imagery-mode .Zf54rc,
	.app-imagery-mode .WzvKIe
		border-radius: borderRad !important
		
	/*standardize the corners of the zoom in button*/
	.app-imagery-mode .xsYFzc.widget-zoom-in
		border-top-left-radius: borderRad !important
		border-top-right-radius: borderRad !important
		
	/*standardize the corners of the zoom out button*/
	.app-imagery-mode .xsYFzc.widget-zoom-out
		border-bottom-left-radius: borderRad !important
		border-bottom-right-radius: borderRad !important
	
	/*hide the ugly ahh shadow at the top of the page*/
	if not showTopFade
		.svk30b
			display: none
	
	/*show the info in the footer and the google logo*/
	if not showFooterInfo
		.scene-footer-container, #watermark
			display: none
	
	/*show the new search bar*/
	if not showSearchBar
		#omnibox-container
			display: none
	
	if changeSearch
		div[id="searchbox"][aria-expanded="false"]
			border-radius: borderRad !important
			
		div[id="searchbox"][aria-expanded="true"]
			border-top-left-radius: borderRad !important
			border-top-right-radius: borderRad !important
			border-bottom-left-radius: 0 !important
			border-bottom-right-radius: 0 !important
